<!DOCTYPE html>
{% load static %}
<title>登入頁面</title>

<html>

<head>
    <meta charset=' utf-8 '>
    <link href="{% static 'css/login.css ' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>


<body>

<div id = "login_frame">

    <label class="text" id="text_ac" for="Account">Account</label>
    <input class="ac_pa" id="in_ac" type="text" value="" placeholder="帳號" ><br>
    <label class="text" id="text_pa" for="Password">Password</label></td>
    <input class="ac_pa" id="in_pa" type="Password" value="" placeholder="密碼"><br>                        
    <button class="box" id="login" onclick="login()">Login</button>
    <button class="box" id="clear" onclick="fn_val('clear')">Clear</button>
      
</div>

</body>


</html>

<script>
    function fn_val(status) {
        if (status == 'login') {
            window.location.href="login.html"
        } else if (status == 'clear') {
            $('#in_ac').val('')
            $('#in_pa').val('')

        }
    }
</script>

