<!DOCTYPE html>
{% load static %}
<title>首頁</title>

<html>

<head>
    <meta charset=' utf-8 '>
    <link href="{% static 'css/index.css ' %}" rel="stylesheet">
</head>


<body >
<header class="main_header">
    <div class="container">
        <a href="#" class="logo">
            <img id="image_logo" src="{% static 'image/okayusmile.png' %}">
        </a>
        <nav class="main_nav">
            <a href="#">測試1</a>
            <a href="#">測試2</a>
            <a href="#">使用說明</a>
            <a href="#">關於我們</a>
        </nav>
    </div>
</header>
    <div id="container2">
        <div id="header">header</div>
        <div id="sidebar">sidebar</div>
        <div id="chl_warp">chl_warp</div>
        <div id="footer">footer</div>
    </div>

</body>


</html>