<!DOCTYPE html>
{% load static %}
<title>登入頁面</title>

<html>

<head>
    <meta charset="UTF-8">

    <link href="{% static 'css/login.css ' %}" rel="stylesheet" type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>


<body >
<form action="." method="POST" name="form1">
{% csrf_token %}

<div class = "container" id = "login_frame">

    <div class = "title_div">
        
        <label id="title">登入介面</label>

        <img id="image_logo" src="{% static 'image/okayusmile.png' %}">
        </p>
    </div>


    <div class = "acpa_div">

        <div class = "label_input" id ="li_box1">
            <label class="label_acpa" for="Account" >Account</label>
            <input class="input_acpa",id="ac" type="text" value="" placeholder="帳號">
        </div>
        <div class = "label_input" id ="li_box2">
            <label class="label_acpa" for="Password">Password</label>
            <input class="input_acpa" id="pa" type="Password" value="" placeholder="密碼" >
        </div>
        <div class = "label_input" id ="li_box3">
            <label class="label_acpa" for="CAPTCHA">CAPTCHA</label>
            {{postform.captcha}}
        </div>

    </div>
                     
    <div class = "btn_div">
        
        <input type = "submit" class="btn" id="login" value = "Login">
        <input type ="button" class="btn" id="register" value = "Register" onclick="window.location='/register/'">
        <button class="btn" id="clear" onclick="fn_btn('clear')">Reset</button>

    </div>

</div>

<script src="{% static 'js/login.js ' %}"></script>

</body>


</html>

