<!DOCTYPE html>
{% load static %}
<title>登入頁面</title>

<html>

<head>
    <meta charset=' utf-8 '>
    <link href="{% static 'css/login.css ' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>


<body >


    <div class="login">login

</body>


</html>

<script>
    function fn_val(status) {
        if (status == 'login') {

        } else if (status == 'clear') {
            $('#ac').val('')
            $('#pa').val('')

        }
    }
</script>

