<!DOCTYPE html>
{% load static %}
<title>登入頁面</title>

<html>

<head>
    <meta charset="UTF-8">

    <link href="{% static 'css/login.css ' %}" rel="stylesheet" type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>


<body >
<form action="." method="POST" name="form1">
{% csrf_token %}


{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}

<div class = "container" id = "login_frame">

    <div class = "title_div">
        
        <label id="title">登入介面</label>

        <img id="image_logo" src="{% static 'image/okayusmile.png' %}">
        </p>
    </div>


    <div class = "acpa_div">

        <div class = "label_input" id ="li_box1">
            <label class="label_acpa" for="Account" >Account</label>
            {{LoginFrom.Ac}}
        </div>
        <div class = "label_input" id ="li_box2">
            <label class="label_acpa" for="Password">Password</label>
            {{LoginFrom.Pa}}
        </div>
        <div class = "label_input" id ="li_box3">
            <label class="label_acpa" for="CAPTCHA">CAPTCHA</label>
            {{LoginFrom.captcha}}
        </div>

    </div>
                     
    <div class = "btn_div">
        
        <input type = "submit" class="btn" id="login" value = "Login">
        <input type ="button" class="btn" id="register" value = "Register" onclick="window.location='/register/'">
        <input type = "reset" class="btn" id="clear" value = "Reset">

    </div>

</div>

<script src="{% static 'js/login.js ' %}"></script>

</body>


</html>

