<!DOCTYPE html>
{% load static %}
<title>登入頁面</title>

<html>

<head>
    <meta charset="UTF-8">

    <link href="{% static 'css/register.css ' %}" rel="stylesheet" type='text/css'>
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
</head>


<body >
<form action="." method="POST" name="form1">
{% csrf_token %}

<div class = "container" id = "login_frame">


    <div class = "title_div">
        
        <label id="title">註冊帳號</label>

        <img id="image_logo" src="{% static 'image/okayusmile.png' %}">
        </p>
    </div>


    <div class = "acpa_div">

        <div class = "label_input" id ="li_box1">
            <label class="label_acpa" for="Username" >Username</label>
            {{postform.Username}}
        </div>
        <div class = "label_input" id ="li_box2">
            <label class="label_acpa" for="Account" >Account</label>
            {{postform.Ac}}
        </div>
        <div class = "label_input" id ="li_box3">
            <label class="label_acpa" for="Password" >Password</label>
            {{postform.Pa}}
        </div>
        <div class = "label_input" id ="li_box4">
            <label class="label_acpa" for="email" >Email</label>
            {{postform.cEmail}}
        </div>
        <div class = "label_input" id ="li_box5">
            <label class="label_acpa" for="CAPTCHA">CAPTCHA</label>
            {{postform.captcha}}
        </div>
    </div>
                     
    <div class = "btn_div">
        <input type = "submit" class="btn" id="register" value = "Register">
        <input type ="button" class="btn" id="back" value = "Back" onclick="window.location='/login/'">
        <input type = "reset" class="btn" id="Reset" value = "Reset">


    </div>

</div>

    <script src="{% static 'js/register.js ' %}"></script>
</body>


</html>