<!DOCTYPE html>
{% load static %}
<title>首頁</title>

<html>

<head>
    <meta charset=' utf-8 '>
    <meta name="viewport" content="width=device-width, initial-scale=1, min-scale=1, max-scale=1, shrink-to-fit=no">
    <link href="{% static 'css/todolist_v1.css ' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>


<body >
    <div class="todo-list-container">
        <header>Todo App</header>
        <div class="inputField">
            <input type="text" placeholder="新增你的代辦事項">
            <button><i class="fa fa-plus"></i></button>
        </div>
        <ul class="todolist">
            <!--用戶輸入後由js新增-->
        </ul>
        <div class="todo-list-footer">
            <span>你有<span class="pendingNumber"></span>個代辦事項</span>
            <button>清除全部</button>
        </div>
    </div>

    <script src="{% static 'js/todolist_v1.js ' %}"></script>

</body>
</html>