@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Kdam Thmor Pro', 'Open Sans';
}

#login_frame {
    width: 550px;
    height: 260px;
    padding: 13px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -200px;
    margin-top: -200px;
    background-color: rgba(12, 14, 14, 0.514);
    border-radius: 10px;
    text-align: center;
}

form p>* {
    display: inline-block;
    vertical-align: left;
}

#title {
    font-size: 30px;
    font-family: 標楷體;
    width: 100px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#image_logo {
    margin-top: -10px;
    float: inline-start;
    width: 64px;
    height: 64px;
}

.label_acpa {
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    background-color: rgba(0, 0, 0, 0.829);
    color: rgb(255, 255, 255);
    width: 278px;
    height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.input_acpa {
    width: 278px;
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
}

.box {
    font-size: 20px;
    font-family: Kdam Thmor Pro;
    width: 20%;
    height: 30px;
    font-size: 14px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.box:hover {
    background-color: #e73636;
}