@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Open+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Kdam Thmor Pro', 'Open Sans';
}

#login_frame {
    width: 600px;
    height: 300px;
    padding: 13px;
    margin: 0px auto;
    margin-top: 300px;
    background-color: rgba(204, 169, 136, 0.767);
    border-radius: 10px;
}

form p>* {
    display: inline-block;
    vertical-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 45%;
    /*主要框架*/
}

.acpa_div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: max-content;
    flex-basis: 58%;
    /*li_box1~5*/
}

#li_box1 {
    order: 1;
}

#li_box2 {
    order: 2;
}

#li_box3 {
    order: 3;
}

#li_box4 {
    order: 4;
}

#li_box5 {
    order: 5;
}

.label_input {
    display: flex;
    flex-direction: row;
    /*label~input*/
}

#id_Username {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    order: 1;
    width: 450px;
}

#id_Ac {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    order: 1;
    width: 450px;
}

#id_Pa {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    order: 1;
    width: 450px;
}

#id_cEmail {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    order: 1;
    width: 450px;
}

.label_acpa {
    font-size: 18px;
    font-family: Kdam Thmor Pro;
    background-color: rgba(0, 0, 0, 0.829);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 30px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    order: -1;
    text-align: center;
}

.input_acpa {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    order: 1;
    width: 450px;
}

#id_captcha_1 {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0;
    order: 1;
    width: 330px;
}

.btn_div {
    display: flex;
    flex-direction: row;
    /*btn1~3*/
}

.btn {
    font-size: 20px;
    font-family: Kdam Thmor Pro;
    width: 20%;
    height: 30px;
    font-size: 14px;
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn:hover {
    background-color: #e73636;
}

#register {
    order: 1;
}

#back {
    order: 2;
}

#Reset {
    order: 3;
    margin-left: auto;
}

.title_div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /*title和圖片*/
}

#title {
    font-size: 30px;
    font-family: 標楷體;
    width: 200px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    order: 1;
}

#image_logo {
    margin-top: -10px;
    float: inline-start;
    width: 64px;
    height: 64px;
    order: 2;
}